click==6.7
cloudpickle==0.5.3
configparser==3.5.0
doit==0.29.0
Flask==1.0.2
Flask-Markdown==0.3
Frozen-Flask==0.15
itsdangerous==0.24
Jinja2==2.10
MacFSEvents==0.8.1
Markdown==2.6.11
MarkupSafe==1.0
six==1.11.0
Werkzeug==0.14.1
