/* General */

body {
    font-family: 'Lato';
    font-size: 16px;
    color: #333;
}

.row {
    margin: 0px;
}

.container-fluid {
    width: 94%;
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 0px;
    padding-right: 0px;
}

.breadcrumbs {
    padding-top: 5px;
    font-size: 0.75em;
    
}

/* Header */

.header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header a {
    font-weight: 400;
    color: #333;
    border-bottom: none;
}

.header a:hover {
    color: #333;
    text-decoration: none;
    border-bottom: none;
}

/* Menu */

.navbar-collapse, .navbar-collapse.collapse {
    padding-left: 5px;
}

.navbar {
    font-family: 'Lato';
    letter-spacing: 0.10em;
    font-size: 0.85em;
    line-height: 0.6em;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #394755;
    border-radius: 0;
    border: none;
}

.brand {
    font-family: 'Lato';
    text-shadow: none;
    color: black;
    font-size: 3em;
    letter-spacing: 0.15em;
    vertical-align: middle;
    margin-bottom: 0px;
    padding: 0px;
}

.logo {
    display: none;
}

.nav {
}

.nav > li {
    margin-top: 5px;
}

.nav a {
    text-decoration: none;
    border-bottom: none;
}

.nav a:hover {
    border-bottom: none;
}

.navbar-brand {
    text-shadow: none;
    color: white;
    padding-left: 20px;
}

.navbar-inner {
    background-color: #394755;
    background-image: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0px;
    min-height: 35px;
}

.navbar .nav > .active > a, .navbar .nav > .active a:hover, .navbar .nav > .active > a:focus {
    background-color: #394755 !important;
    color: white;
    box-shadow: none;
    text-shadow: none;
    border-bottom: none;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    color: white;
    background-color: #394755 !important;
}

.navbar .nav > li > a {
    color: white;
    text-shadow: none;
    text-transform: uppercase;
    padding: 10px 30px 10px 0px;
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover { 
    color: white;
    background-color: #394755;
    outline: none;
}

.navbar .nav > li > a:hover {
    background-color: #394755;
    color: white;
    border-bottom: none;
    box-shadow: none;
    text-shadow: none;
}

.navbar .nav li.dropdown>a .caret, .navbar .nav li.dropdown>a:hover .caret, .navbar .nav li.dropdown>a:focus .caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
}

#menu-donate a {
    background-color: #87dc86 !important;
    color: #333;
    text-shadow: none;
    box-shadow: none;
}

#affiliation {
}

#affiliation img {
    height: 50px;
}

/* Body */

p {
}


/* Links */

a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #0066cc;
}

a:hover {
    color: #6DA0C8;
    color: #990011;
    color: #0066cc;
    text-decoration: none;
    border-bottom: 1px solid #0066cc;
}

a.img {
    text-decoration: none;
    border-bottom: 0px;
}

a.img:hover {
    text-decoration: none;
    border-bottom: 0px;
}


/* Banner */

.stripe {
    background-color: #628cb6;
    background-color: #333;
    height: 10px;
}

.banner {
    background-color: #628cb6;
    background-color: #333;    
    background-color: white;
    color: white;
    color: #111;
}

.banner h1 {
    font-size: 1.4em;
    color: #333;
}

.text {
    color: #333;
}

.white {
    padding-top: 10px;
}

.gray {
    background: #f5f5f5;
    color: #333;
    padding-top: 10px;
}


/* Front Page */

.title {
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: normal;
    padding: 5px;
    margin: 10px;
}


.project-title {
    font-size: 1.2em;
}

.subtitle {
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-weight: normal;
}

/* Footer */

#footer {
    padding-top: 25px;
}

#footer a {
    color: #333;
    text-decoration: underline;
}

#license {
    margin-top: 4px;
    font-size: 0.7em;
    font-weight: 100;
}

/* GitHub ribbon */

#forkongithub a {
    background:#990011;
    color:#fff;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    padding:5px 40px;
    font-size:1rem;
    line-height:2rem;
    position:relative;
    transition:0.5s;
}

#forkongithub a:hover {
    background-color: #111;
    color:#fff;
}

/* Columns */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px;
}

/* Misc */

h1 {
    font-family: 'Lato';
    font-size: 1.3em;
    margin: 10px 0px 10px 0px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

h1.headline {
    font-size: 1.1em;
    margin: 15px 0px 0px 0px;
}

.smaller h2 {
    background: none;
    padding: 0;
}

h2 {
    font-size: 1em;
    font-weight: 700;
    margin: 20px 0px 5px 0px;
    padding: 5px;
    background-color: #A0C7EE;
}

h2.spacer {
    margin-bottom: 10px;
}

h2 a {
}

h2 a:hover {
}

h3 {
    font-size: 1em;
    margin: 20px 0px 5px 0px;    
    text-decoration: underline;
}

h4 {
    font-size: 1em;
    color: #333;
}

.light-blue {
    background-color: #A0C7EE;
    padding: 10px;
}

.light-gray {
    background: #e4e4e4;
    padding: 10px;
    margin: 10px 0px;
}

.light-blue h2, .light-gray h2 {
    background: none;
    margin: 0px;
    padding: 0px;
}

hr {
    margin: 5px 100px;
    border-top: 1px solid #ccc;
}

.definitions {
    padding: 15px 15px;
    background: #ddd;
    margin: 15px 0px;
}

.dlheader {
    text-decoration: underline;
    font-size: 0.9em;
}

dl {
    padding: 0px 15px;
    font-size: 0.8em;
    margin-bottom: 0px;
}

dt {
    margin-top: 8px;
    margin-bottom: 0px;
}

dd {
    margin-top: 0px;
    margin-bottom: 0px;
}

b.filename {
    font-weight: 500;
    font-family: monospace;
    font-size: 0.9em;
    color: #0066cc;
}


.borderless {
    border: none;
    text-decoration: none;
}

.big {
    font-size: 1.3em;
}

.affiliation {
    font-size: 0.8em;
    margin-top: 2px;
    color: #333;
}

.plain {
    list-style-type: none;
}

.indent {
    margin-left: 40px;
}

li {
    margin-top: 10px;
    line-height: 1.2;
}

.spacing li {
    margin-top: 10px;
}

.spacing10 li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.spacing20 li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.padbottom20 {
    margin-bottom: 20px;
}

.bottom10 {
    padding-bottom: 10px;
}

.top10 {
    margin-top: 10px;
}

.pad20 {
    padding: 20px 0px;
}

.pad10 {
    padding: 10px 0px;
}

.caption {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 10px;
}

.caption:before {
    content: '\2014';
    margin-right: 5px;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.border {
    border: 1px solid #888;
}

.pad {
    padding: 5px;
}

.pad-left-10 {
    padding-left: 10px;
}

.pad-left-20 {
    margin-left: 20px;
}

.height-400 {
    max-height: 420px;
    margin-bottom: 15px;
}

.height-550 {
    max-height: 535px;
}

.height-300 {
    max-height: 300px;
}

.height-250 {
    max-height: 250px;
}

.height-200 {
    max-height: 200px;
}

.height-100 {
    height: 100px;
}

.height-75 {
    height: 75px;
}

.width-500 {
    width: 500px;
}

.width-400 {
    width: 400px;
}

.width-300 {
    width: 300px;
}

.width-250 {
    width: 250px;
}

.max-width-150 {
    max-width: 150px;
}

.max-width-400 {
    max-width: 400px;
}

.email {
    font-weight: bold;
    letter-spacing: 1.5px;
}

.circle {
    display:inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #ccc;
    background: #333;
    color: white;
    text-align: center;
    line-height: 30px;
}

pre {
  font-size: 1em;
}

.label-success {
    font-size: 0.9em;
    padding: 5px;
    background-color: #990011;
    font-weight: normal;
}

.spacing {
    margin: 50px 0px;
}

.smaller {
    font-size: 0.8em;
}

/* Bidirectional text */
[dir='ltr'], [dir='rtl'] { 
	unicode-bidi: -webkit-isolate;
	unicode-bidi: -moz-isolate;
	unicode-bidi: -ms-isolate;
	unicode-bidi: isolate;
	} 
bdo[dir='ltr'], bdo[dir='rtl'] {
	unicode-bidi: bidi-override; 
	unicode-bidi: -webkit-isolate-override; 
	unicode-bidi: -moz-isolate-override; 
	unicode-bidi: -ms-isolate-override; 
	unicode-bidi: isolate-override;
  	}

/* Larger Screens */
@media screen and (min-width:600px) {
    .container-fluid {
	width: 94%;
    }
    .logo {
	display: inline;
	height: 40px;
	border: none;
	margin-right: 10px;
    }
    .brand {
	font-size: 2em;
    }
    .affiliation {
	font-size: 0.8em;
	text-align: left;
	padding-left: 65px;
    }
    .banner h1 {
	font-size: 1.8em;
    }
}

@media screen and (min-width:768px) {
   .brand {
	font-size: 2em;
    }
    .affiliation {
	font-size: 0.8em;
	text-align: right;
	margin-top: 8px;
    }
}

/* Larger Screens */
@media screen and (min-width:800px) {
    .navbar-brand {
	display: none;
    }
    .brand {
	font-size: 2em;
    }
    .affiliation {
	font-size: 0.9em;
	text-align: right;
	margin-top: 25px;
    }
    .logo {
	height: 70px;
    }
}

