{% extends "base.html" %}

{% block page %}

<div class="container breadcrumbs">
  <p>&raquo; Research &raquo; <a href="/research/cloud-storage">Cloud Storage</a></p>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>Cloud Storage</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <p>We are interested in studying user perceptions and behavior
	with respect to cloud storage services. In particular, we are
	interested in behaviors such as which services are used, what
	types of data are stored, and how collaboration and sharing
	are performed.  We are also investigating user attitudes
	toward cloud storage on topics such as payment, pri- vacy,
	security, and robustness.
      </p>

      <p>We are currently
	conducting <a href={{
	url_for("show",directory="cloud",page="") }}>interviews</a>
	with people in the Provo area.</p>
    </div>
    <div class="offset1 span4">
      <img class="height-300" src="/static/img/cloud-vision.png">
      <p class="caption">Vision of the cloud ecosystem</p>
    </div>
  </div>
</div>

{% endblock %}

