{% extends "base.html" %}

{% block page %}

<div class="container breadcrumbs">
  <p>&raquo; Research &raquo; <a href="/research/content-based-security">Content-Based Security</a></p>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>Content-Based Security</h1>
    </div>
  </div>
</div>


<div class="container ">
  <div class="row-fluid">
    <div class="span6">


    </div>
    <div class="offset1 span4">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h2>Papers</h2>
    </div>
  </div>
</div>

{% endblock %}

