{% extends "base.html" %}

{% block page %}

<div class="container breadcrumbs">
  <p>» Research » <a href="/research/internet-measurements">Internet Measurements</a></p>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>Internet Measurements</h1>
    </div>
  </div>
</div>


<div class="container ">
  <div class="row-fluid">
    <div class="span5">

      <p>Measuring the Internet provides insight into not just our global
	infrastructure but also the people who use it.
      </p>

      <p>In popular media gamers are often portrayed as "male and
	young, pale from too much time spent indoors, and socially
	inept...a new generation of isolated and lonely 'couch
	potatoes,' [who] are far from aspirational figures" (<i>Who
	plays, how much, and why? Debunking the stereotypical gamer
	profile</i>, Dimitri Williams, Nick Yee, and Scott Caplan).
	Such views are further reinforced by stereotypes commonly held
	by both gsociety as a whole and the gaming culture itself.
      </p>

      <p>Our current project seeks to understand the diverse
	behavior of gamers by measuring the hundred million users
	of the Steam online gaming platform. We are in the process
	of publishing our findings from this study.</p>
      
    </div>
    <div class="offset1 span6">
      <img class="height-300" src="/static/img/steam-friend-graph-sampled.png">
      <p class="caption">Heat map and clustering of Steam users and friendships</p>
      <img class="height-300" src="/static/img/steam-game-projection.png">
      <p class="caption">Steam game ownership</p>
    </div>
  </div>
</div>

{% endblock %}

