{% extends "base.html" %}

{% block page %}

<div class="stripe">
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>Personal Cloud Computing</h1>
    </div>
  </div>
</div>

<div class="container text">
  <div class="row-fluid">
    <div class="span12">
      <div class="right">
	<img class="height-300" src="/static/img/cloud-vision.png">
	<p class="caption">Vision of the cloud ecosystem</p>
      </div>
      <p>Imagine a personal cloud connecting all of your mobile and
	home computing devices, providing seamless and transparent
	access to all of your content, regardless of where it is
	stored. Don't remember whether you have that video stored on
	your video camera, phone, or laptop? A personal cloud would
	help you search through all your videos on all your
	devices. The personal cloud will become increasingly
	desirable as we continue filling our homes with a variety of
	computing devices, and as the Internet-of-things becomes a
	reality.</p>

      <p>Why aren't commercial cloud providers such as Dropbox
	sufficient?</p>

      <ul class="spacing">
	<li><i>Performance</i> &mdash; you can stream videos to your TV much
	  faster from a local cloud.</li>
	<li><i>Cost</i> &mdash; ISPs are imposing
	  bandwidth caps and overage charges, making it infeasible to
	  store all your data in a commercial cloud
	  provider.</li>
	<li><i>Security</i> &mdash; do you trust Google to manage
	  your data, even if it is encrypted, when the NSA is
	  collecting so much of our information?</li>
	<li><i>Control</i> &mdash; you
	  can decide where your data is stored, what level of
	  encryption to use, and what pieces you backup to commercial
	  providers.</li>
      </ul>

      <p>Our work is in the early stages of exploring how to build a
	personal cloud and its ramifications for distributed
	systems, security, and usability.</p>

    </div>
  </div>
</div>

{% endblock %}

