{% extends "base.html" %}

{% block page %}

<div class="container-fluid breadcrumbs">
  <p>&raquo; Research &raquo; <a href="/research/alice">Telegram Survey</a></p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Telegram Survey</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <p>This study is being conducted by Elham Vaziripour, a
      Ph.D. candidate from Brigham Young University, under the
      supervision of Dr. Daniel Zappala, a faculty member from the
	Computer Science Department.</p>

      <p>In this study, we are interested in learning about your views on
      online data privacy and how this affects your use of
      Telegram. This will help us to design better security and
      privacy tools for Internet users by understanding of the privacy
	concerns of people around the world.</p>

      <p>Participating in this study involves completing a survey
	which should take approximately 15 minutes of your time.</p>

      <p>Your participation and information will be totally anonymous to
      us and you will only be contacted again if you choose. You do
      not have to participate in this study if you do not want to. You
      do not have to answer any question that you do not want to
	answer for any reason.</p>
      
      <p>Please <a href="https://byu.az1.qualtrics.com/jfe/form/SV_d3XzrGb7d0O91B3">click here</a> to take the survey.</p>

      <p>Thank you!</p>
    </div>
    <div class="col-md-6" dir="rtl"> 
      <p>پیشاپیش از صبر و حوصله ی شما جهت پر کردن این پرسشنامه کمال تشکر را داریم</p>
      
      <p>هدف از این پژوهش مطالعه سطح آگاهی کاربران از تنظیمات امنیتی در تلگرام می باشد و نتایج این تحقیق تاثیر مفیدی جهت فراهم نمودن ارتباطات امن تر خواهد داشت</p>
      
      <p>لازم به ذکر است که هیچ گونه اجباری برای شرکت و پاسخگویی به سوالات مطرح شده در این پرسشنامه وجود  ندارد, گرچه همکاری شما برای ما بسیار ارزشمند می باشد</p>

      <p>این تحقیق توسط الهام وزیری پور از دانشگاه بریگهام یانگ، تحت نظارت دکتر دانیل زاپالا، عضو هیات علمی دانشگاه انجام شده است</p>
      <p>از آنجایی که پاسخ های شما در این تحقیق کاملا محرمانه و هویت شما ناشناس می باشد، امکان در نظر گرفتن پاداش جهت شرکت در این تحقیق نمی باشد</p>

      <p>Please <a href="https://byu.az1.qualtrics.com/jfe/form/SV_d3XzrGb7d0O91B3">click here</a> to take the survey.</p>

      <p>Thank you!</p>
    </div>
  </div>
</div>

{% endblock %}
