{% extends "base.html" %}

{% block page %}

<div class="container-fluid breadcrumbs">
  <p>&raquo; Research &raquo; <a href="/research/trustbase">TrustBase</a></p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>TrustBase</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <p><i>Converting certificate-based authentication into an
	operating system service.</i></p>
      
      <p>The certificate authentication (CA) system has significant flaws
	that compromise Internet traffic. Primary among these is that
	any certificate authority can sign certificates for any site,
	requiring every system to trust every authority. These
	authorities may be owned by foreign governments, or may be
	coerced to provide bad certificates by a
	government. Authorities have also been hacked, such as the
	Diginotar hack that compromised hundreds of thousands of Gmail
	accounts. Finally, even when the CA system is working well,
	there are many poorly-written applications that do not authenticate
	certificates properly.</p>
	
      <p>The TrustBase project centralizes authentication as an
      operating system (OS) service, giving system administrators and
      OS vendors control over authentication policy.  TrustBase uses
      traffic interception to find and authenticate certificates in
      existing applications, allowing it to effectively prevent broken
      applications from communicating. To provide system administrator
      control, TrustBase provides a policy engine that enables an
      administrator to choose how certificate authentication is
      performed on the host, with a variety of authentication services
      that can be used to harden the CA system. This approach
      both protects against insecure applications and transparently
      enables existing applications to be strengthened against
	failures of the CA system. </p>

      <p>TrustBase enables system administrators and OS vendors to enforce a
      number of policies regarding TLS.  For example, an administrator
      could require revocation status checking, disallow weak cipher
      suites, or mandate that Certificate Transparency be used to
      protect against active man-in-the-middle (MITM) attacks.  Likewise, an OS
      vendor could ship TrustBase with strong default protections against
      broken applications, such as enforcing best practices for
      validating a certificate chain, requiring hostname validation,
      and pinning certificates for the most popular web sites and
	applications. </p>
    </div>
    <div class="col-md-offset-1 col-md-4">
      <img class="height-200" src="/static/img/trustbase-architecture.png">
      <p class="caption">TrustBase Archtitecture</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2>Papers</h2>

      <ul>
	<li>Mark O'Neill, Scott Heidbrink, Jordan Whitehead, Tanner
	Perdue, Luke Dickinson, Torstein Collett, Nick Bonner, Kent
	Seamons, and Daniel Zappala, <a
	href="https://www.usenix.org/system/files/conference/usenixsecurity18/sec18-o_neill.pdf">The
	Secure Socket API: TLS as an Operating System Service</a>,
	USENIX Security, August 2018.</li>
	
	<li>Mark O'Neill, Scott Heidbrink, Scott Ruoti, Jordan
	  Whitehead, Dan Bunker, Luke Dickinson, Travis Hendershot,
	  Joshua Reynolds, Kent Seamons, and Daniel Zappala.
	  <a href="/static/papers/trustbase-usenix-security-2017.pdf">TrustBase: An Architecture to Repair and Strengthen
	    Certificate-based Authentication</a>, Usenix Security, August
	  2017.
	</li>
      </ul>

      <h2>Website</h2>

      <p><a href="https://owntrust.org/">OwnTrust.org</a></p>

      <h2>Code</h2>

      <p>SSA: <a href="https://github.com/markoneill/ssa">https://github.com/markoneill/ssa</a></p>

      <p>SSA Daemon: <a
  href="https://github.com/markoneill/ssa-daemon">https://github.com/markoneill/ssa-daemon</a></p>

  <p>TrustBase Linux: <a
  href="https://github.com/markoneill/trustbase-linux">https://github.com/markoneill/trustbase-linux</a></p>

    <p>TrustBase Windows: <a
  href="https://github.com/markoneill/trustbase-windows">https://github.com/markoneill/trustbase-windows</a></p>

      <p>TrustBase Android: <a
  href="https://github.com/markoneill/trustbase-android">https://github.com/markoneill/trustbase-android</a></p>


      <h2>Sponsors</h2>

      <p>This project is supported by the National Science
	Foundation under <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1528022&HistoricalAwards=false">Grant No. 1528022</a>,
	by the Department of Homeland Security Science and
	Technology Directorate, Cyber Security Division (DHS S&T/CSD)
	under contract number HHSP233201600046C, and by Sandia National Laboratories,
	a multimission laboratory managed and operated
	by National Technology and Engineering Solutions of
	Sandia, LLC., a wholly owned subsidiary of Honeywell
	International, Inc., for the U.S. Department of Energy’s
	National Nuclear Security Administration under contract
	DE-NA-0003525.</p>

      <p>Any opinions, findings, and conclusions or recommendations
	expressed in this work are those of the author(s) and do not
	necessarily reflect the views of the sponsors.</p>

      <a class="img" href="http://www.nsf.org/"><img class="height-100" src="/static/img/nsf.jpg"></a>

      <a class="img" href="https://www.dhs.gov/science-and-technology/cyber-security-division"><img class="height-100" src="/static/img/dhs-logo.png"></a>

      <a class="img" href="http://www.sandia.gov/"><img class="height-75" src="/static/img/sandia.png"></a>
      
    </div>
  </div>
</div>

{% endblock %}
