{% extends "base.html" %}

{% block page %}

<div class="container breadcrumbs">
  <p>&raquo; Research &raquo; <a href="/research/trustbase">TrustBase</a></p>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>TrustBase</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span7">
      TrustBase is an architecture that provides certificate-based
      authentication as an operating system service. TrustBase
      enforces best practices for certificate validation for all
      applications and transparently enables existing applications to
      be strengthened against failures of the CA system. The TrustBase
      system allows simple deployment of authentication systems that
      harden the CA system. This enables system administrators, for
      example, to require certificate revocation checks on all TLS
      connections, or require STARTTLS for email servers that support
      it. TrustBase is the first system that is able to secure all TLS
      traffic, using an approach compatible with all operating
      systems. To demonstrate the utility of TrustBase, we have
      developed six authentication services that strengthen
      certificate validation for all applications.
    </div>
    <div class="offset1 span4">
      <img class="height-250" src="/static/img/trustbase-architecture.png">
      <p class="caption">TrustBase Archtitecture</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h2>Papers</h2>

      <ul>
	<li>Mark O'Neill, Scott Heidbrink, Jordan Whitehead, Scott Ruoti, Dan Bunker, Kent Seamons, and Daniel Zappala.
	  TrustBase: An Architecture to Repair and Strengthen Certificate-based Authentication. 2016.
	  <a href="https://arxiv.org/find/all/1/all:+trustbase/0/1/0/all/0/1">Paper</a>
	</li>
      </ul>

      
      <h2>Sponsors</h2>

      <p>This project is supported by the National Science
	Foundation under <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1528022&HistoricalAwards=false">Grant No. 1528022</a></p>

      <a href="http://www.nsf.org/"><img class="height-100" src="/static/img/nsf.jpg"></a>

      <p>And by the Department of Homeland Security Science and
	Technology Directorate, Cyber Security Division (DHS S&T/CSD)
	under contract number HHSP233201600046C.</p>


      <a href="https://www.dhs.gov/science-and-technology/cyber-security-division"><img class="height-100" src="/static/img/dhs-logo.png"></a>
      

      <p>Any opinions, findings, and conclusions or recommendations
      expressed in this work are those of the author(s) and do not
      necessarily reflect the views of the sponsors.</p>


    </div>
  </div>
</div>

{% endblock %}
