{% extends "base.html" %}

{% block page %}

<div class="container breadcrumbs">
  <p>» Research » <a href="/research/past-projects">Past Projects</a> » <a href="/research/wireless-networks">Wireless Network Modeling and Mapping</a></p>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>Wireless Network Modeling and Mapping</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span5">
      <p>Wireless networks enable people to enjoy mobility and
	connectivity at the same time. An all-wireless mesh network
	can provide city-wide coverage, with key access points being
	connected to the Internet. The low cost of these networks
	makes them attractive for city police and emergency services,
	community networking, and basic connectivity in developing
	countries.</p>

      <p>Mesh networks introduce fundamental questions of how
	shared resources are divided among competing
	users. Cooperation between nodes of the network is necessary
	for users to have global access, yet bandwidth limitations
	induce competition. This competitive environment is enticing
	to malicious users, who can then strategically induce network
	conditions to achieve various objectives. Modeling and mapping
	wireless networks poses fundamental challenges that are
	essential for managing competition and protecting against
	intruders.</p>

      <p>We have studied the wireless network modeling problem from
	the perspective of optimal rate control for the users of a
	wireless mesh network. We have developed a model that
	incorporates partial interference that yields a convex
	optimization problem when formulated using link rates, with
	numerical results illustrating significantly higher utilities
	as compared to models that treat interference as
	contention. We have also developed a first-principles model of
	wireless networks based on representing the perceived times
	during which a signal is sent as a random set. We have shown
	that the first-principles model reduces to the classical
	models under certain limiting conditions. Because the
	first-principles model incorporates a more complete model of
	the wireless network, we are able to use it as a benchmark to
	evaluate the performance of other rate controllers that are
	more practical to deploy.</p>

      <p>Our current work explores the problem of mapping a wireless
	network and detecting interfering devices. We are
	demonstrating how it is possible to use the signal structure
	of the network, which is the open-loop causal relationships
	among signals, to represent causal relationships between the
	links in the wireless network. This builds directly on work
	that developed dynamical structure functions to represent
	biological systems whose internal states cannot be completely
	observed. We are developing a protocol that can construct the
	signal structure of a wireless network using perturbation
	experiments. The resulting map can then be used to detect
	intrusive devices that temporarily disrupt communication and
	impair performance.</p>
    </div>
    <div class="offset1 span6">
      <img class="height-300" src="/static/img/wireless.png">
      <p class="caption">City-wide wireless mesh network</p>

      <p class="spacing"></p>
      <img class="width-500" src="/static/img/wireless-interference-and-contention.png"></img>
      <p class="caption">A wireless topology showing both interference and contention</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h2>Papers</h2>

      <ul>
	<li>David Ripplinger, Sean Warnick, and Daniel
	  Zappala. 2011. “First-principles Modeling of Wireless
	  Networks for Rate Control.” In IEEE Conference on Decision
	  and Control and European Control Conference,
	  3794–3799. IEEE. <a href="http://dx.doi.org/10.1109/CDC.2011.6161235">doi:http://dx.doi.org/10.1109/CDC.2011.6161235</a>
	</li>
	<li>D. Ripplinger, “Modeling Wireless Networks for Rate
	  Control,” M.S. Thesis, Brigham Young University, 2011.
	  Lei Wang, David Ripplinger, Anurag Rai, Sean Warnick, and
	  Daniel Zappala. 2010. “A Convex Optimization Approach to
	  Decentralized Rate Control in Wireless Networks with
	  Partial Interference.” In 49th IEEE Conference on Decision
	  and Control (CDC),
	  639–646. IEEE. <a href="http://dx.doi.org/10.1109/CDC.2010.5717212">doi:http://dx.doi.org/10.1109/CDC.2010.5717212</a></li>
      </ul>

      <h2>Collaboration</h2>

      <p>This work is done in collaboration with
      the <a href="http://idealabs.byu.edu">BYU IDeA Labs</a>.</p>

      <h2>Sponsors</h2>

      <p>This work is supported by the AFRL under Grants
	FA8750-09-2-0219 and FA8750-11-1-0236.</p>

      <a href="http://www.wpafb.af.mil/AFRL/"><img class="height-100" src="/static/img/Air_Force_Research_Laboratory.png"></a>

    </div>
  </div>
</div>

{% endblock %}

