{% extends "base.html" %}

{% block page %}

<div class="banner2 borders padbottom20">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1>Wireless Networks</h1>
      </div>
    </div>
  </div>
</div>

<div class="banner1">
  <div class="container">

    <div class="row-fluid">
      <div class="span12">
	<div class="right">
	<img class="height-300" src="/static/img/wireless.png">
	<p class="caption">City-wide wireless mesh network</p>
	</div>
	<p>Wireless networks enable people to enjoy mobility and
	  connectivity at the same time. An all-wireless mesh network
	  can provide city-wide coverage, with key access points being
	  connected to the Internet. The low cost of these networks
	  makes them attractive for city police and emergency services,
	  community networking, and basic connectivity in developing
	  countries.</p>

	<p>Our lab is studying how to improve the performance of the
	  transport layer when it controls flows that travel over
	  multiple wireless hops. This involves two closely-related
	  projects:</p>
	<ul>
	  <li><a href="/research/wifu">WiFu</a> is an open source
	    software toolkit we are building to allow researchers and
	    developers to create transport protocols in user space,
	    rather than in the Linux Kernel. This is helping us to be
	    able to rapidly prototype new transport protocols and to
	    conduct realistic experimental evaluations on these
	    protocols, rather than relying on simulations.</li>
	  <li>We are <a href="/research/wireless-modeling">modeling
	      wireless networks</a> to develop mathematical representations
	    of contention and interference among nodes. This enables us
	    to develop optimal rate control algorithms and also to detect
	    intrusive devices that disrupt communication. This work
	    is done in collaboration with
	    the <a href="http://idealabs.byu.edu">BYU IDeA Labs</a>.
	  </li>
	</ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}

