<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Internet Research Lab</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="kX4eJq9K4qIXdNVmpLmP5JURo432sF4DN-ylHZ2n-xM" />
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/css/app.css" rel="stylesheet">
  </head>
  <body>
    {% block header %}
    <div class="container-fluid header">
      <div class="row">
	<div class="col-md-7 brand">
	  <img class="logo" src="/static/img/gravitar.png">
	  <a href="/">Internet Research Lab</a>
	</div>
	<div class="col-md-5 affiliation">
	  <a href="https://www.byu.edu">BYU</a> | <a href="https://cs.byu.edu">Computer Science</a>
	</div>
      </div>
    </div>
    <div class="navbar navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	    <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">Navigation</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">	    
	    <li id="menu-home" {% if active == "index" %}class="active"{% endif %}><a href={{url_for("index")}}>Home</a></li>
	    <li href="#" class="dropdown" id="menu-research" {% if active == "research" %}class="research"{% endif %}><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research <b class="caret"></b></a>
	      <ul class="dropdown-menu">
		<li><a href={{ url_for("show",directory="research",page="trustbase") }}>TrustBase</a></li>
		<li><a href={{ url_for("show",directory="research",page="authentication-ceremony") }}>Authentication Ceremony</a></li>
		<li><a href={{ url_for("show",directory="research",page="tls-proxies") }}>TLS Proxies</a></li>
		<li><a href={{ url_for("show",directory="research",page="cloud-storage") }}>Cloud Storage</a></li>

		<li><a href={{ url_for("show",directory="research",page="steam-measurements") }}>Steam Measurements</a></li>
		<li><a href={{ url_for("show",directory="research",page="content-based-security") }}>Content-Based Security</a></li>
		<li><a href={{ url_for("show",directory="research",page="past-projects") }}>Past Projects</a></li>
	      </ul>
	    </li>
	    <li id="menu-papers" {% if active == "papers" %}class="active"{% endif %}><a href={{url_for("show",directory="papers")}} >Papers</a></li>
	    <li id="menu-people" {% if active == "people" %}class="active"{% endif %}><a href={{url_for("show",directory="people")}} >People</a></li>
	    <li id="menu-github"><a href="https://github.com/byu-ilab">GitHub <i class="icon-share-alt icon-white"></i></a></li>
	  </ul>
	</div>
      </div>
    </div>
    {% endblock %}

    <div id="page">
      {% block page %}{% endblock %}
    </div>

    {% block footer %}
    <div id="footer" class="grays">
      <div class="container-fluid">
	<div class="row">
	  <div class="col-md-12 padtop10">
	    <div id="license" class="left">
	      <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> 
	      <p>&copy 2017 Internet Research Lab</p>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38419970-6', 'auto');
    ga('send', 'pageview');

    </script>

  </body>
</html>
