{% extends "base.html" %}

{% block page %}

<div class="banner">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1 class="title">We find ways to make the Internet better</h1>
      </div>
    </div>
  </div>
</div>

<div class="white">
  <div class="container">
    <div class="row-fluid">
      <div class="span7">
	<h1 class="headline"><a href="research/web-security">Web Security</a></h1>
	<p>Improving the security of authentication on the web, with a focus on
	usability.
	  </p>

	<h1 class="headline"><a href="research/sentiment-analysis">Sentiment Analysis</a></h1>
	<p>Helping to understand political and
	  social change in the Middle East by automatically learning
	  the sentiment of political tweets in Farsi.</p>

	<h1 class="headline"><a href="research/internet-measurements">Internet
	Measurements</a></h1>
	<p>Measuring the Internet to provide insight into how people use
	  the network for a variety of purposes, both good and bad.</p>


	<h1 class="headline"><a href="research/personal-cloud">Personal Cloud
	Computing</a></h1>
	<p>Designing a cloud for your home, connecting all your devices and
	  providing seamless access to all your
	  data.</p>

      </div>
      <div class="span5 top10">
	<img class="height-550" src="/static/img/steam-friend-graph-sampled.png">
      </div>
    </div>
</div>

<div class="light-gray">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 smaller">
	<h2>Get Involved</h2>
	<p>Contact Daniel Zappala (daniel.zappala@gmail.com) for
	  research opportunities in the lab.</p>
	<p>Visit us at 2240 TMCB.</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
