{% extends "base.html" %}

{% block page %}

<div class="banner3 padbottom20">
  <div class="container">
    <div class="row-fluid">
      <div class="span8">
	<h1>We explore ways to make the Internet better</h1>
	<ul class="indent big spacing">
	  <li>
	    <p><a href="research/personal-cloud">Personal Cloud Computing</a></p>
	    <p class="small">A cloud for your home, connecting all your devices and
	      providing seamless access to all your
	      data. Performance. Security. Usability.</p>
	  </li>
	  <li>
	    <p><a href="research/sentiment-analysis">Sentiment Analysis</a></p>
	    <p class="small">Helping to understand political and
	      social change in the Middle East by automatically learning
	      the sentiment of political tweets in Farsi.</p>
	  </li>
	  <li>
	    <p><a href="research/wireless-networks">Wireless Networks</a></p>
	    <p class="small">Modeling and engineering of wireless
	      networks so that the freedom of mobility also comes with
	      high performance and fairness.</p>
	  </li>
	  <li>
	    <p><a href="research/dash">Streaming Video</a></p>
	    <p class="small">Software and algorithms to improve the
	      performance of streaming video over the Internet, particularly
	      when connection quality is highly variable.</p>
	  </li>
	</ul>
	<div class="banner4 borders center">
	  <h3>Get Involved</h3>
	  <p>Contact Daniel Zappala (daniel.zappala@gmail.com) for
	    research opportunities in the lab.</p>
	  <p>Visit us at 2240 TMCB.</p>
	</div>
      </div>
      <div class="span4 top15">
	<img class="border height-550" src="/static/img/devices.jpg">
      </div>
    </div>
  </div>
</div>


{% endblock %}
