{% extends "base.html" %}

{% block page %}

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>People</h1>
    </div>
  </div>
</div>

<div class="container text">
  <div class="row-fluid">
    <h2><span class="project-title">Daniel Zappala, Director</span></h2>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <img class="border max-width-150" src="/static/img/daniel-zappala.jpg">
    </div>
    <div class="span10">
      <p>Daniel Zappala is an Associate Professor
	of <a href="http://cs.byu.edu">Computer Science</a> at
	<a href="http://byu.edu">Brigham Young University</a>.
	Director of the <a href="http://ilab.cs.byu.edu">Internet
	  Research Lab</a> and the <a href="http://osl.byu.edu">BYU Open
	  Source Lab</a>.</p>

      <p><a href="//plus.google.com/114449822521576560110?prsrc=3"
	    rel="publisher" target="_top" style="text-decoration:none;">
	  <img src="//ssl.gstatic.com/images/icons/gplus-32.png"
	       alt="Google+" style="border:0;width:32px;height:32px;margin-right:5px;"/>
	</a>Follow me on Google+ to get updates and discuss our work.</p>

      <p><a href="http://ilab.cs.byu.edu/zappala">Home Page</a>
	<br>daniel.zappala@gmail.com
	<br>2228 TMCB, Brigham Young University, 84062
	<br>801-422-2195
      </p>
      
    </div>
  </div>

  <div class="row-fluid">
    <h2><span class="project-title">Elham Vaziripour, Ph.D. student </span></h2>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <img class="border max-width-150" src="/static/img/elham-vaziripour.png">
    </div>
    <div class="span10">
      <p>Elham is conducting research
	on <a href="/research/sentiment-analysis">sentiment
	  analysis</a> of political tweets.</p>

      <p>
	elham.vaziripour@gmail.com
	<br>2240 TMCB, Brigham Young University, 84062
      </p>

    </div>
  </div>

  <div class="row-fluid">
    <h2><span class="project-title">Justin Wu, M.S. student </span></h2>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <!--<img class="border max-width-150" src="/static/img/justin-wu.png">-->
      <img class="border max-width-150" src="/static/img/placeholder.jpg">
    </div>
    <div class="span10">
      <p>Justin is conducting research
	on <a href="/research/personal-cloud">personal cloud
	  computing</a>.</p>

      <p>hiyono@gmail.com
      <br>2240 TMCB, Brigham Young University, 84062
      </p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h2>Collaboration</h2>
      <p>We work closely with Sean Warnick and his students
	from <a href="http://idealabs.byu.edu/">IDeA Labs</a>.</p>

      <h2>Former Students</h2>
      <ul>
	<li>Randy Buck, M.S. 2012, Software Engineer at Adobe Systems</li>
	<li>Ryan Padilla, M.S. 2012</li>
	<li>Lei Wang, Ph.D. 2011, at Microsoft</li>
	<li>Travis Andelin, M.S. 2011, at Move Networks</li>
	<li>Mike Heath, M.S. 2011, Enterprise Software Architect at LDS Church, Project Management Committee at Apache Foundation</li>
	<li>Tim Larsen, M.S. 2010, Software Engineer at Blue Coat Systems</li>
	<li>Roger Pack, M.S. 2010, Programmer at LDS Church</li>
	<li>Manoj Pandey, Ph.D. 2009, Sr. Software Engineer at Cisco Systems</li>
	<li>Brian Sanderson, M.S. 2008, Software Engineer at Adobe Systems</li>
	<li>Jared Jardine, M.S. 2008, Vice President at Crusader Health Technologies</li>
	<li>Robert Larsen, M.S. 2008, Software Engineer at Blue Coat Systems</li>
	<li>Dan Scofield, M.S. 2007, Hewlett-Packard Company</li>
	<li>Michael Simonsen, M.S. 2006, Architect at J.D. Power and Associates</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

