{% extends "base.html" %}

{% block page %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>People</h1>
      <h2 class="spacer">Daniel Zappala, Director</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img class="border max-width-150" src="/static/img/daniel-zappala.jpg">
    </div>
    <div class="col-md-10">
      <p>Daniel Zappala is an Associate Professor
	of <a href="http://cs.byu.edu">Computer Science</a> at
	<a href="http://byu.edu">Brigham Young University</a> and
	Director of the <a href="http://ilab.cs.byu.edu">Internet
	  Research Lab</a>.</p>

      <p><a href="http://ilab.cs.byu.edu/zappala">Home Page</a>
	<br>daniel.zappala@gmail.com
	<br>2228 TMCB, Brigham Young University, 84062
	<br>801-422-2195
      </p>
      
    </div>
  </div>

  <div class="row">
    <h2>Elham Vaziripour, Ph.D. student</h2>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img class="border max-width-150" src="/static/img/elham-vaziripour.png">
    </div>
    <div class="col-md-10">
      <p>Elham is conducting research
	on <a href={{ url_for("show",directory="research",page="alice") }}>Alice</a>, which
	is investigating how to improve the usability of the authentication ceremony in secure messaging applications.
      She previously worked on 
      <a href={{ url_for("show",directory="research",page="sentiment-analysis") }}>sentiment analysis</a>
      of Farsi tweets and
      <a href={{ url_for("show",directory="research",page="steam-measurements") }}>Steam
	measurements</a>.</p>
      
      <p>
	elham.vaziripour@gmail.com
      </p>

    </div>
  </div>

  <div class="row">
    <h2>Mark O'Neill, Ph.D. student</h2>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img class="border max-width-150" src="/static/img/placeholder.jpg">
    </div>
    <div class="col-md-10">
      <p>Mark is conducting research on the  <a href={{ url_for("show",directory="research",page="trustbase") }}>TrustBase</a> project.
        He previously worked
	on <a href={{ url_for("show",directory="research",page="tls-proxies") }}>TLS Proxies</a> and
	<a href={{ url_for("show",directory="research",page="steam-measurements") }}>Steam
	measurements</a>.</p>


      <p>
	phoenixteam1@gmail.com
      </p>

    </div>
  </div>

  <div class="row">
    <h2>Justin Wu, Ph.D. student</h2>
  </div>

  <div class="row">
    <div class="col-md-2">
      <!--<img class="border max-width-150" src="/static/img/justin-wu.png">-->
      <img class="border max-width-150" src="/static/img/placeholder.jpg">
    </div>
    <div class="col-md-10">
      <p>Justin is conducting research on grassroots adoption of encryption.
	He previously worked on
	on <a href={{ url_for("show",directory="research",page="cloud-storage") }}>Cloud Storage
	</a> and 
	<a href={{ url_for("show",directory="research",page="steam-measurements") }}>Steam
	measurements</a>.</p>

      <p>hiyono@gmail.com
      </p>
    </div>
  </div>

  <div class="row">
    <h2>Scott Heidrbrink, M.S. student</h2>
  </div>

  <div class="row">
    <div class="col-md-2">
      <img class="border max-width-150" src="/static/img/placeholder.jpg">
    </div>
    <div class="col-md-10">
      <p>Scott is conducting research on the  <a href={{ url_for("show",directory="research",page="trustbase") }}>TrustBase</a> project.</p>

      <p>scott.heidbrink@gmail.com
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Collaboration</h2>
      <p>We work closely with the <a href="http://isrl.byu.edu">Internet Security Research Lab</a> and <a href="http://idealabs.byu.edu/">IDeA Labs</a>.</p>

      <h2>Former Students</h2>
      <ul>
	<li>Randy Buck, M.S. 2012, Software Engineer at Adobe Systems</li>
	<li>Ryan Padilla, M.S. 2012</li>
	<li>Lei Wang, Ph.D. 2011, at Microsoft</li>
	<li>Travis Andelin, M.S. 2011, at Move Networks</li>
	<li>Mike Heath, M.S. 2011, Enterprise Software Architect at LDS Church, Project Management Committee at Apache Foundation</li>
	<li>Tim Larsen, M.S. 2010, Software Engineer at Blue Coat Systems</li>
	<li>Roger Pack, M.S. 2010, Programmer at LDS Church</li>
	<li>Manoj Pandey, Ph.D. 2009, Sr. Software Engineer at Cisco Systems</li>
	<li>Brian Sanderson, M.S. 2008, Software Engineer at Adobe Systems</li>
	<li>Jared Jardine, M.S. 2008, Vice President at Crusader Health Technologies</li>
	<li>Robert Larsen, M.S. 2008, Software Engineer at Blue Coat Systems</li>
	<li>Dan Scofield, M.S. 2007, Hewlett-Packard Company</li>
	<li>Michael Simonsen, M.S. 2006, Architect at J.D. Power and Associates</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

