{% extends "base.html" %}

{% block page %}

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>Publications</h1>
    </div>
  </div>
</div>

<div class="container text">
  <div class="row-fluid">
    <div class="span12">
      <ul class="spacing20">
	<li>Travis Andelin, Vasu Chetty, Devon Harbaugh, Sean
	  Warnick, and Daniel Zappala. 2012. “Quality Selection for
	  Dynamic Adaptive Streaming over HTTP with Scalable Video
	  Coding.” In <em>Proceedings of the 3rd Multimedia Systems
	    Conference on &#8211; MMSys ’12</em>, 149. New York, New
	  York, USA: ACM
	  Press. doi:<a href="http://dx.doi.org/10.1145/2155555.2155580">http://dx.doi.org/10.1145/2155555.2155580</a></li>

	<li>David Ripplinger, Sean Warnick, and Daniel
	  Zappala. 2011. “First-principles Modeling of Wireless
	  Networks for Rate Control.” In <em>IEEE Conference on
	    Decision and Control and European Control Conference</em>,
	  3794–3799. IEEE. doi:<a href="http://dx.doi.org/10.1109/CDC.2011.6161235">http://dx.doi.org/10.1109/CDC.2011.6161235</a></li>

	<li>Xingang Zhang, Randy Buck, and Daniel
	  Zappala. 2011. “Experimental Performance Evaluation of ATP
	  in a Wireless Mesh Network.” In <em>2011 IEEE Eighth
	    International Conference on Mobile Ad-Hoc and Sensor
	    Systems</em>,
	  122–131. IEEE. doi:<a href="http://dx.doi.org/10.1109/MASS.2011.25">http://dx.doi.org/10.1109/MASS.2011.25</a></li>

	<li>Lei Wang, David Ripplinger, Anurag Rai, Sean Warnick,
	  and Daniel Zappala. 2010. “A Convex Optimization Approach to
	  Decentralized Rate Control in Wireless Networks with Partial
	  Interference.” In <em>49th IEEE Conference on Decision and
	    Control (CDC)</em>,
	  639–646. IEEE. doi:<a href="http://dx.doi.org/10.1109/CDC.2010.5717212">http://dx.doi.org/10.1109/CDC.2010.5717212</a></li>

	<li>Brian Sanderson and Daniel Zappala. 2009. “Reducing
	  Source Load in BitTorrent.” In <em>2009 Proceedings of 18th
	    International Conference on Computer Communications and
	    Networks</em>,
	  1–6. IEEE. doi:<a href="http://dx.doi.org/10.1109/ICCCN.2009.5235228">http://dx.doi.org/10.1109/ICCCN.2009.5235228</a></li>

	<li>Qiuyi Duan, Lei Wang, Charles D. Knutson, and Daniel
	  Zappala. 2008. “Autonomous and Intelligent Radio Switching
	  for Heterogeneous Wireless Networks.” In <em>2008 5th IEEE
	    International Conference on Mobile Ad Hoc and Sensor
	    Systems</em>,
	  666–671. IEEE. doi:<a href="http://dx.doi.org/10.1109/MAHSS.2008.4660107">http://dx.doi.org/10.1109/MAHSS.2008.4660107</a></li>

	<li>Jared Jardine and Daniel Zappala. 2008. “A Hybrid
	  Architecture for Massively Multiplayer Online Games.”
	  In <em>Proceedings of the 7th ACM SIGCOMM Workshop on
	    Network and System Support for Games &#8211; NetGames
	    ’08</em>, 60. New York, New York, USA: ACM
	  Press. doi:<a href="http://dx.doi.org/10.1145/1517494.1517507">http://dx.doi.org/10.1145/1517494.1517507</a></li>

	<li>Qiuyi Duan, Lei Wang, Charles D. Knutson and Daniel
	  Zappala. 2008. “Link Quality Prediction for Wireless Devices
	  with Multiple Radios.” In <em>2008 International Symposium
	    on a World of Wireless, Mobile and Multimedia Networks</em>,
	  1–5. IEEE. doi:<a href="http://dx.doi.org/10.1109/WOWMOM.2008.4594869">http://dx.doi.org/10.1109/WOWMOM.2008.4594869</a></li>

	<li>Manoj Pandey and Daniel Zappala. 2008. “Hop-by-hop
	  Multicast Transport for Mobile Ad Hoc Wireless Networks.”
	  In <em>2008 5th IEEE International Conference on Mobile Ad
	    Hoc and Sensor Systems</em>,
	  450–455. IEEE. doi:<a href="http://dx.doi.org/10.1109/MAHSS.2008.4660037">http://dx.doi.org/10.1109/MAHSS.2008.4660037</a>.</li>

	<li>Manoj Pandey and Daniel Zappala. 2008. “Scalable
	  Multicast Routing for Ad Hoc Networks.” In <em>2008 5th IEEE
	    International Conference on Mobile Ad Hoc and Sensor
	    Systems</em>,
	  559–564. IEEE. doi:<a href="http://dx.doi.org/10.1109/MAHSS.2008.4660088">http://dx.doi.org/10.1109/MAHSS.2008.4660088</a></li>

	<li>Daniel Scofield, Lei Wang, and Daniel
	  Zappala. 2008. “HxH: a Hop-by-hop Transport Protocol for
	  Multi-hop Wireless Networks” (November 17):
	  16. doi:<a href="http://eudl.eu/doi/10.4108/ICST.WICON2008.4806">http://eudl.eu/doi/10.4108/ICST.WICON2008.4806</a></li>

	<li>Manoj Pandey, Daniel Delorey, Qiuyi Duan, Lei Wang,
	  Charles Knutson, Daniel Zappala, and Ryan
	  Woodings. 2007. “RIA: An RF Interference Avoidance Algorithm
	  for Heterogeneous Wireless Networks.” In <em>2007 IEEE
	    Wireless Communications and Networking Conference</em>,
	  4051–4056. IEEE. doi:<a href="http://dx.doi.org/10.1109/WCNC.2007.740">http://dx.doi.org/10.1109/WCNC.2007.740</a></li>

	<li>Manoj Pandey, Roger Pack, Lei Wang, Qiuyi Duan, and
	  Daniel Zappala. 2007. “To Repair or Not To Repair: Helping
	  Ad-hoc Routing Protocols to Distinguish Mobility from
	  Congestion.” In <em>IEEE INFOCOM 2007 &#8211; 26th IEEE
	    International Conference on Computer Communications</em>,
	  2311–2315. IEEE. doi:<a href="http://dx.doi.org/10.1109/INFCOM.2007.271">http://dx.doi.org/10.1109/INFCOM.2007.271</a></li>

	<li>Manoj Pandey and Daniel Zappala. 2005. “A Scenario-Based
	  Performance Evaluation of Multicast Routing Protocols for Ad
	  Hoc Networks.” In <em>Sixth IEEE International Symposium on
	    a World of Wireless Mobile and Multimedia Networks</em>,
	  31–41. IEEE. doi:<a href="http://dx.doi.org/10.1109/WOWMOM.2005.9">http://dx.doi.org/10.1109/WOWMOM.2005.9</a></li>

      </ul>
    </div>
  </div>
</div>

{% endblock %}
