{% extends "base.html" %}

{% block page %}

<div class="banner2 borders">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1>Current Research</h1>
      </div>
    </div>
  </div>
</div>

<div class="banner1">
  <div class="container">

    <div class="row-fluid">
      <div class="span12">
	<h2><a href="research/personal-cloud.html">Personal Cloud Computing</a></h2>
	<p>Imagine a personal cloud connecting all of your mobile and
	  home computing devices, providing seamless and transparent
	  access to all of your content, regardless of where it is
	  stored. This would complement existing cloud services such
	  as Dropbox by providing higher peformance, lower cost,
	  greater security, and stronger control over your data. Our
	  research is in the early stages of exploring how to build a
	  personal cloud and its ramifications for distributed
	  systems, security, and usability.</p>

	<h2><a href="research/political-tweets.html">Sentiment Analysis of Political Tweets</a></h2>

	<p>Twitter has played a prominent role in providing a platform
	  for political and social change in the Middle East. We are
	  exploring how to automatically classify the political
	  sentiment of tweets, so that we can better quantify
	  political feelings of people around the world and track
	  their changes over time.</p>

	<h2><a href="/research/wifu.html">WiFu: A Composable Toolkit for Experimental Wireless Protocols</a></h2>

	<p>A long-standing problem in wireless networks is how to
	  provide efficient and fair transport over multiple wireless
	  hops. To encourage more experimental research in this area,
	  we have designed an open source, user space toolkit that
	  enables researchers to build experimental transport
	  protocols without modifying the Linux kernel. We are also
	  examining improvements and alternatives to TCP.</p>

	<h2><a href="/research/wireless-ideas.html">Wireless Network
	    Modeling and Mapping</a></h2>

	<p>We are studying how to provide fair rate control in
	  wireless mesh networks, by characterizing the interference
	  and contention among network devices. This work is done in
	  collaboration with the IDeA Labs at BYU, providing
	  collaboration on systems and control theory as it applies to
	  networking.</p>

	<h2><a href="/research/dash.html">Dynamic Adaptive Streaming over HTTP</a></h2>

	<p>We are developing software and algorithms to improve the
	  performance of streaming video over the Internet. We have
	  developed simulation software that enables researchers to
	  study convergence and stability of these systems. We have
	  also shown that incorporating scalable video coding provides
	  greater flexibility for clients to adjust quality when
	  bandwidth is highly variable.</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
