{% extends "base.html" %}

{% block page %}

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>Software</h1>
    </div>
  </div>
</div>

<div class="container text">
  <div class="row-fluid">
    <div class="span12">
      <p></p>
      <p>Our lab publishes open source software related to our
	research projects. We currently have published:</p>

      <ul class="spacing10">
	<li><p><a href="https://github.com/zappala/wifu">WiFu</a></p>
	  <p>A composable toolkit for experimental wireless
	    transport protocols, from the <a href="/research/wifu">WiFu
	      project</a>.</p></li>
	<li><p><a href="https://github.com/zappala/omnet-extension">omnet-extension</a>
	    and <a href="https://github.com/zappala/inet-extension">inet-extension</a></p>
	  <p>Code for OMNET++ that enables the simulator to interact
	    with the decision engine of a streaming video player, from
	    the <a href="/research/dash">Dynamic Adaptive Streaming
	      over HTTP project</a>.</p></li>
      </ul>

      We also run the <a href="http://osl.byu.edu">BYU Open Source
	Lab</a>, where we create free software for family history and
      civic apps.

    </div>
  </div>
</div>

{% endblock %}

